 <header>
        <img src="/img/main-logo.png" id="webcast-logo" alt="">
        <h3>Welcome to the Webcast, {{fname}} {{lname}}</h3>
        <a href="/">
          <span class="exit" title="Exit">+</span>
        </a>
      
    </header>
   <section class="web-cast">
    <div class="talcast-container">
        {{!-- <iframe class="talcast-iframe" src="https://tallen.webcasts.com/viewer/event.jsp?ei=1397571&tp_key=7ce28285e0&fname={{fname}}&lname={{lname}}&email={{email}}" frameborder="0" allowfullscreen></iframe> --}}
          <iframe class="talcast-iframe" src="{{url}}" frameborder="0" allowfullscreen></iframe>
    </div>
   {{!-- <div class="collaborate-container">
       {{! code for collaborate platform}}
   </div> --}}

   </section>